* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 1400px;
    display: block;
    margin: auto;
    min-height: 100vh;
    background: lightblue;
    font-family: sans-serif;
    overflow: scroll;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    background: orange;
}

.link-group {
    list-style: none;
    display: flex;
}

.link a {
    color: black;
    opacity: 0.4;
    text-decoration: none;
    padding: 10px 30px;
    margin: 10px 30px;
    line-height: 80px;
    transition: 0.5s;
    font-size: 20px;
}

.link a:hover, .link.active a {
    opacity: 1;
}

/* Home Section */
.home-section.active,
.project-section.active,
.about-section.active{
    position: relative;
    opacity: 1;
    z-index: 8;
}

.home-section {
    width: 100%;
    height: 100vh;
    padding: 0 150px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    opacity: 0;
    transition: 1s;
}

.person-heading {
    font-size: 120px;
    font-weight: 300;
    z-index: 8;
}

.person-img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 50%;
    object-fit: cover;
    opacity: 0.4;
}

/* About Section */
.about-section {
    width: 100%;
    min-height: 100vh;
    padding: 150px 100px 0;
    position: fixed;
    top: 0;
    opacity: 0;
    transition: 1s;
}

.about-heading {
    font-size: 50px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 50px;
}

.about {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 65%;
    grid-gap: 40px;
}

.about-img-container {
    position: relative;
}

.about-info {
    position: relative;
    opacity: 0.6;
    font-size: 20px;
    line-height: 40px;
    top: 50%;
    transform: translateY(-50%);
    
}

.about-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.view-resume-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    background: rgba(255, 255, 255, 0.5);
}

.view-resume-button:hover {
    background: white;
}

.profile-section {
    position: relative;
    margin: 100px 0;
}

.profile-heading {
    text-align: center;
    font-size: 60px;
    font-weight: 300;
    margin: 100px;
}

.profile-container {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.profile-button {
    display: block;
    margin: auto;
    height: 200px;
}

.profile-name {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    margin: 30px 0 30px;
}

.skills-section {
    position: relative;
    margin: 100px 0;
}

.skills-heading {
    text-align: center;
    font-size: 60px;
    font-weight: 300;
    margin: 100px;
}

.skills-container {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.skills-card {
    position: relative;
}

.skills-img {
    display: block;
    margin: auto;
    height: 200px;
}

.skills-name {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    margin: 30px 0 30px;
}

.skills-info {
    text-align: center;
    opacity: 0.5;
    font-size: 20px;
    line-height: 30px
}

.timeline {
    display: block;
    width: 80%;
    margin: 150px auto;
}

.timeline-heading {
    text-align: center;
    font-size: 60px;
    font-weight: 300;
    margin: 150px; 
}

.timeline-card {
    width: 45%;
    padding: 30px;
    border-radius: 10px;
    display: block;
    margin: -80px 0;
    position: relative;
    background: yellowgreen;
}

.timeline-card:nth-child(even) {
    margin-left: auto;
}

.timeline-card:nth-child(even):before {
    content: '';
    position: absolute;
    left: -15%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 5px solid black;
    border-radius: 50%;
}

.timeline-card:nth-child(even):after {
    content: '';
    position: absolute;
    left: -8.5%;
    top: 50%;
    transform: translateY(-50%);
    width: 7%;
    height: 2px;
    background: black;
    z-index: -1;
}

.timeline-card:nth-child(odd):before {
    content: '';
    position: absolute;
    right: -14%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 5px solid black;
    border-radius: 50%;
}

.timeline-card:nth-child(odd):after {
    content: '';
    position: absolute;
    right: -8.5%;
    top: 50%;
    transform: translateY(-50%);
    width: 7%;
    height: 2px;
    background: black;
    z-index: -1;
}

.timeline-card:nth-child(even) .timeline-card-body:after {
    content: '';
    position: absolute;
    left: -12%;
    top: 50%;
    transform: translateY(-50%);
    width: 0px;
    height: 120%;
    border: 1px dashed black;
    z-index: -1;
}

.timeline-card:nth-child(2), .timeline-card:nth-child(2):before {
    background: yellow;
}

.timeline-card:nth-child(3), .timeline-card:nth-child(3):before {
    background: greenyellow;
}

.timeline-card:nth-child(4), .timeline-card:nth-child(4):before {
    background: orange;
}

.timeline-card:nth-child(5), .timeline-card:nth-child(5):before {
    background: turquoise;
}

.timeline-card-title {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
}

.timeline-card-detail {
    margin: auto;
}

/* Project Section */
.project-section {
    width: 100%;
    min-height: 100vh;
    padding: 150px 100px 100px;
    position: fixed;
    top: 0;
    transition: 1s;
    opacity: 0;
}

.project-heading {
    font-size: 50px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 50px;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 100px;
}

.project-card {
    height: 400px;
    position: relative;
}

.project-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-position: cover;
    transition: 0.5s;
    background: white;
}

.project-content {
    position: relative;
    padding: 40px;
    transition: 0.5s;
    opacity: 0;
}

.project-title {
    font-size: 50px;
    text-align: center;
    font-weight: 300;
}

.project-info {
    margin: 40px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.project-button-group {
    margin: auto;
    text-align: center;
    justify-content: center;
}

.project-button-github {
    height: 40px;
    width: 200px;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    background: rgba(255, 255, 255, 0.5)
}

.project-card:hover .project-img{
    filter: blur(40px);
}

.project-card:hover .project-content {
    opacity: 1;
}